.border {
  border: 4px solid black; }

.fa-envelope {
  margin-left: 1.8vw;
  margin-top: -0.8vh; }

.header {
  position: relative;
  top: 1.5vh; }

.rightNav {
  position: relative;
  top: -5px; }

.albums {
  float: left; }

.picture {
  height: 50%;
  width: 50%; }

.surveyFormBackGround {
  margin-top: 30px;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 7pt;
  max-height: 100vh; }
  .surveyFormBackGround .buttons {
    margin-bottom: 5vh; }

.surveyField label {
  font-size: 1.2em;
  color: black; }

.surveyField input {
  font-size: 1.2em;
  color: black; }

.emailBodyField textarea {
  height: 15vh; }

.emailBodyField label {
  font-size: 1.2em;
  color: black; }

.emailBodyField input {
  font-size: 1.2em;
  color: black; }

.formPadding {
  padding: 4%; }

.formReview {
  margin-top: 50px;
  width: 25vw;
  max-width: 55vw;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 7pt;
  max-height: 100vh; }
  .formReview label {
    font-size: 1.5em; }
  .formReview button {
    margin-top: 5vh;
    margin-bottom: 2vh; }
  .formReview hr {
    border-width: 3px;
    color: black; }
  .formReview .values {
    font-size: 1.3em;
    overflow-wrap: break-word; }

.flexButtons {
  display: flex;
  justify-content: space-around; }

.emailTextArea1 {
  marginBottom: 5px; }
  .emailTextArea1:focus {
    background-color: white; }

.emailTextArea2 {
  marginBottom: 5px;
  border: 1px solid red; }
  .emailTextArea2:focus {
    background-color: white; }

.yellowArrow {
  width: 1vw; }

.surveyInputs1:focus {
  background-color: white; }

.surveyInputs2:focus {
  background-color: white; }

* {
  font-family: 'Oswald', sans-serif;
  font-size: 105%; }

.main {
  background-image: url("../../imgs/pexels-photo-325139.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;
  height: 100vh; }

.text {
  color: blue; }
