@import './header.scss';
@import './albums.scss';
@import './SurveyForm.scss';
@import './SurveyFormReview.scss';
$textColor: blue;

* {
  font-family: 'Oswald', sans-serif;
  font-size: 105%;
}

.main {
  background-image: url('../../imgs/pexels-photo-325139.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;
  height: 100vh;
}
.text {
  color: $textColor;
    margin-top: 6vh;
}

.whiteText {
    color:azure;
    .right {
        position: relative;
        bottom: 2vh;
    }
}
.pagButton {
    margin-top: 2vh;
    margin-left: .2vw;
    background-color: azure;
    height: 30px;
    width: 25px;
    border: 1px solid black;
    border-radius: 7pt;
    list-style-type: none;
    cursor: pointer;
}
.frontPage {
 position: relative;
 top: 1.5vh;
 right: .8vw;
   
}
.moveButton {
    margin-left: 50vw;
    .circleButton {
        margin-left: 1.5vw;
        margin-top: 1vh;
    }
}
.flexNumbers {
    display: flex;
    justify-content: center
}


