@import './header.scss';
@import './albums.scss';
$textColor: blue;

* {
  font-family: 'Oswald', sans-serif;;
}
.main {
  background-image: url('../../imgs/pexels-photo-325139.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;
  height: 100vh;
}
.text {
  color: $textColor;
}



