$font: 1.2em;

.surveyFormBackGround {
  margin-top: 30px;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 7pt;
  height: 48vh;
  max-height: 65vh;

  .buttons {
    margin-bottom: 5vh;
  }
}

.surveyField {
  label {
    font-size: $font;
    color: black;
  }
  input {
    font-size: $font;
    color: black;
  }
}

.formPadding {
  padding: 2%;
}