@import './header.scss';
$textColor: blue;

.main {
  background-image: url('../imgs/pexels-photo-325139.jpeg');
  background-size: cover;
  height: 100vh;
}
.text {
  color: $textColor;
}
.border {
  border: $border;
}

